*{
    padding: 0px;
    margin: 0px;
}
.commonmargin
{
margin: 0px 240px;
}

.navbar{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nevtitle{
    display: inline;
    font-size: 2.8125em;
color:  #0B0223;
font-weight: 700; 

}
.nevtitle span{
    color: #FF42A5;
}

.nevtitle img{
    width: 2em;
    height:.8em ;
}
.menudiv>ul{
    display: flex;
    list-style: none;
  
}
.menulist{
    margin-right: 50px;

}
.menulistfollow{
    margin: 0px;
}
.menulist a{
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500; 
}
.menulistfollow{
 
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10); 
    height: 1.1em;
    width: 10em;
    align-items: center;
    padding: 1em;
    margin-top: -1em;
}
.menulistfollow svg{
    width: 18px;
    height: 18px;
    padding-left: .4em;
}